In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import datetime

In [22]:
data = pd.read_csv('space.csv', index_col=0)
data.head()

,Rank,X_class,Region,Start_time,Max_time,End_time
0,1,X28+,486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

In [7]:
import pandas as pd

In [23]:
data.dtypes

Rank           int64
X_class       object
Region         int64
Start_time    object
Max_time      object
End_time      object
dtype: object

In [64]:
data.Start_time, data.End_time = pd.to_datetime(data.Start_time), pd.to_datetime(data.End_time)

In [65]:
data.dtypes

Rank                    int64
X_class                object
Region                  int64
Start_time     datetime64[ns]
Max_time               object
End_time       datetime64[ns]
Duration      timedelta64[ns]
dtype: object

In [26]:
data['Duration'] = data.End_time - data.Start_time
data['Duration']

0    00:37:00
1    00:31:00
2    01:33:00
3    00:46:00
4    00:36:00
5    00:24:00
6    00:12:00
7    00:17:00
8    00:27:00
9    00:36:00
10   00:56:00
11   00:50:00
12   00:20:00
13   00:31:00
14   01:23:00
15   00:15:00
16   00:40:00
17   00:21:00
18   00:38:00
19   00:25:00
20   00:30:00
21   00:41:00
22   00:24:00
23   00:18:00
24   00:29:00
25   00:22:00
26   00:36:00
27   00:15:00
28   03:08:00
29   00:19:00
30   00:26:00
31   00:12:00
32   00:22:00
33   00:43:00
34   01:30:00
35   00:08:00
36   00:50:00
37   01:19:00
38   01:20:00
39   01:06:00
40   00:42:00
41   00:15:00
42   00:28:00
43   00:16:00
44   00:18:00
45   00:10:00
46   00:36:00
47   00:22:00
48   01:06:00
49   01:37:00
Name: Duration, dtype: timedelta64[ns]

#### Greedy Algorithm Steps
1. Sort the Durations in increasing order
2. select each duration item one-by-one
3. the time of the event to currentTime 
4. add one to number of things

In [28]:
# 1. sort the durations in non-decreasing order
data.sort_values('Duration', inplace=True)

In [85]:
maxTime = datetime.timedelta(hours = 1)
currentTime = datetime.timedelta(minutes=0)
numberOfEvents = 0

In [86]:
# Loop through the durations of the events
for duration in data.Duration:
    # add the current duration to the currentTime
    currentTime += duration
    if currentTime > maxTime:
        currentTime -= duration
        break
    print(duration)
    numberOfEvents+=1
print('*'*10)
print(currentTime)
numberOfEvents

0 days 00:08:00
0 days 00:10:00
0 days 00:12:00
0 days 00:12:00
0 days 00:15:00
**********
0 days 00:57:00

5

In [45]:
x

datetime.timedelta(seconds=600)

In [46]:
maxTime = datetime.timedelta(hours=1); maxTime

datetime.timedelta(seconds=3600)

In [50]:
duration

Timedelta('0 days 03:08:00')

In [51]:
maxTime

datetime.timedelta(seconds=3600)

In [53]:
duration - maxTime

Timedelta('0 days 02:08:00')

In [47]:
maxTime - currentTime

datetime.timedelta(seconds=3000)

In [21]:
import greedy

In [49]:
output, no, currentTime = greedy.maxNoOfEvnets(3)

In [50]:
output = pd.DataFrame(output)

In [51]:
output

,Rank,X_class,Region,Start_time,Max_time,End_time,Duration
35,36,X3.3,1890,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,00:08:00
45,46,X2.7,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,00:10:00
31,32,X3.6,649,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,00:12:00
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,00:12:00
15,16,X6.2,9733,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,00:15:00
27,28,X3.9,8307,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,00:15:00
41,42,X3,30,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,00:15:00
43,44,X2.8,9733,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,00:16:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,00:17:00
44,45,X2.8,8307,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,00:18:00
23,24,X4.9,8307,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,00:18:00
29,30,X3.7,8384,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,00:19:00

In [52]:
output.Duration.sum()

Timedelta('0 days 02:55:00')

In [53]:
currentTime

Timedelta('0 days 02:55:00')

In [54]:
no

12