In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import datetime

In [3]:
data = pd.read_csv('space.csv', index_col=0)
data.head()

,Rank,X_class,Region,Start_time,Max_time,End_time
0,1,X28+,486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
2,3,X17.2+,486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
3,4,X17+,808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00

In [4]:
data.dtypes

Rank           int64
X_class       object
Region         int64
Start_time    object
Max_time      object
End_time      object
dtype: object

In [5]:
data.Start_time, data.End_time = pd.to_datetime(data.Start_time), pd.to_datetime(data.End_time)

In [6]:
data.dtypes

Rank                   int64
X_class               object
Region                 int64
Start_time    datetime64[ns]
Max_time              object
End_time      datetime64[ns]
dtype: object

In [26]:
data['Duration'] = data.End_time - data.Start_time
data['Duration']

0    00:37:00
1    00:31:00
2    01:33:00
3    00:46:00
4    00:36:00
5    00:24:00
6    00:12:00
7    00:17:00
8    00:27:00
9    00:36:00
10   00:56:00
11   00:50:00
12   00:20:00
13   00:31:00
14   01:23:00
15   00:15:00
16   00:40:00
17   00:21:00
18   00:38:00
19   00:25:00
20   00:30:00
21   00:41:00
22   00:24:00
23   00:18:00
24   00:29:00
25   00:22:00
26   00:36:00
27   00:15:00
28   03:08:00
29   00:19:00
30   00:26:00
31   00:12:00
32   00:22:00
33   00:43:00
34   01:30:00
35   00:08:00
36   00:50:00
37   01:19:00
38   01:20:00
39   01:06:00
40   00:42:00
41   00:15:00
42   00:28:00
43   00:16:00
44   00:18:00
45   00:10:00
46   00:36:00
47   00:22:00
48   01:06:00
49   01:37:00
Name: Duration, dtype: timedelta64[ns]

#### Greedy Algorithm Steps
1. Sort the Durations in increasing order
2. select each duration item one-by-one
3. the time of the event to currentTime 
4. add one to number of things

In [28]:
# 1. sort the durations in non-decreasing order
data.sort_values('Duration', inplace=True)

In [85]:
maxTime = datetime.timedelta(hours = 1)
currentTime = datetime.timedelta(minutes=0)
numberOfEvents = 0

In [86]:
# Loop through the durations of the events
for duration in data.Duration:
    # add the current duration to the currentTime
    currentTime += duration
    if currentTime > maxTime:
        currentTime -= duration
        break
    print(duration)
    numberOfEvents+=1
print('*'*10)
print(currentTime)
numberOfEvents

0 days 00:08:00
0 days 00:10:00
0 days 00:12:00
0 days 00:12:00
0 days 00:15:00
**********
0 days 00:57:00

5

In [45]:
x

datetime.timedelta(seconds=600)

In [46]:
maxTime = datetime.timedelta(hours=1); maxTime

datetime.timedelta(seconds=3600)

In [50]:
duration

Timedelta('0 days 03:08:00')

In [51]:
maxTime

datetime.timedelta(seconds=3600)

In [53]:
duration - maxTime

Timedelta('0 days 02:08:00')

In [47]:
maxTime - currentTime

datetime.timedelta(seconds=3000)

In [21]:
import greedy

In [49]:
output, no, currentTime = greedy.maxNoOfEvnets(3)

In [50]:
output = pd.DataFrame(output)

In [51]:
output

,Rank,X_class,Region,Start_time,Max_time,End_time,Duration
35,36,X3.3,1890,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00,00:08:00
45,46,X2.7,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00,00:10:00
31,32,X3.6,649,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00,00:12:00
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00,00:12:00
15,16,X6.2,9733,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00,00:15:00
27,28,X3.9,8307,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00,00:15:00
41,42,X3,30,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00,00:15:00
43,44,X2.8,9733,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00,00:16:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00,00:17:00
44,45,X2.8,8307,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00,00:18:00
23,24,X4.9,8307,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00,00:18:00
29,30,X3.7,8384,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00,00:19:00

In [52]:
output.Duration.sum()

Timedelta('0 days 02:55:00')

In [53]:
currentTime

Timedelta('0 days 02:55:00')

In [54]:
no

12

# Algorithm 2

In [14]:
# sort the data based on the start date
data = data.sort_values(by='Start_time')

In [15]:
data

,Rank,X_class,Region,Start_time,Max_time,End_time
6,7,X9.4,8100,1997-11-06 11:49:00,1997-11-06 11:55:00,1997-11-06 12:01:00
47,48,X2.7,8210,1998-05-06 07:58:00,1998-05-06 08:09:00,1998-05-06 08:20:00
44,45,X2.8,8307,1998-08-18 08:14:00,1998-08-18 08:24:00,1998-08-18 08:32:00
23,24,X4.9,8307,1998-08-18 22:10:00,1998-08-18 22:19:00,1998-08-18 22:28:00
27,28,X3.9,8307,1998-08-19 21:35:00,1998-08-19 21:45:00,1998-08-19 21:50:00
29,30,X3.7,8384,1998-11-22 06:30:00,1998-11-22 06:42:00,1998-11-22 06:49:00
37,38,X3.3,8395,1998-11-28 04:54:00,1998-11-28 05:52:00,1998-11-28 06:13:00
16,17,X5.7,9077,2000-07-14 10:03:00,2000-07-14 10:24:00,2000-07-14 10:43:00
25,26,X4,9236,2000-11-26 16:34:00,2000-11-26 16:48:00,2000-11-26 16:56:00
1,2,X20+,9393,2001-04-02 21:32:00,2001-04-02 21:51:00,2001-04-02 22:03:00
17,18,X5.6,9415,2001-04-06 19:10:00,2001-04-06 19:21:00,2001-04-06 19:31:00
4,5,X14.4,9415,2001-04-15 13:19:00,2001-04-15 13:50:00,2001-04-15 13:55:00
21,22,X5.3,9591,2001-08-25 16:23:00,2001-08-25 16:45:00,2001-08-25 17:04:00
49,50,X2.6,9632,2001-09-24 09:32:00,2001-09-24 10:38:00,2001-09-24 11:09:00
43,44,X2.8,9733,2001-12-11 07:58:00,2001-12-11 08:08:00,2001-12-11 08:14:00
15,16,X6.2,9733,2001-12-13 14:20:00,2001-12-13 14:30:00,2001-12-13 14:35:00
34,35,X3.4,9767,2001-12-28 20:02:00,2001-12-28 20:45:00,2001-12-28 21:32:00
41,42,X3,30,2002-07-15 19:59:00,2002-07-15 20:08:00,2002-07-15 20:14:00
36,37,X3.3,39,2002-07-20 21:04:00,2002-07-20 21:30:00,2002-07-20 21:54:00
24,25,X4.8,39,2002-07-23 00:18:00,2002-07-23 00:35:00,2002-07-23 00:47:00
40,41,X3.1,69,2002-08-24 00:49:00,2002-08-24 01:12:00,2002-08-24 01:31:00
32,33,X3.6,365,2003-05-28 00:17:00,2003-05-28 00:27:00,2003-05-28 00:39:00
20,21,X5.4,486,2003-10-23 08:19:00,2003-10-23 08:35:00,2003-10-23 08:49:00
2,3,X17.2+,486,2003-10-28 09:51:00,2003-10-28 11:10:00,2003-10-28 11:24:00
5,6,X10,486,2003-10-29 20:37:00,2003-10-29 20:49:00,2003-10-29 21:01:00
9,10,X8.3,486,2003-11-02 17:03:00,2003-11-02 17:25:00,2003-11-02 17:39:00
46,47,X2.7,488,2003-11-03 01:09:00,2003-11-03 01:30:00,2003-11-03 01:45:00
26,27,X3.9,488,2003-11-03 09:43:00,2003-11-03 09:55:00,2003-11-03 10:19:00
0,1,X28+,486,2003-11-04 19:29:00,2003-11-04 19:53:00,2003-11-04 20:06:00
31,32,X3.6,649,2004-07-16 13:49:00,2004-07-16 13:55:00,2004-07-16 14:01:00
48,49,X2.6,720,2005-01-15 22:25:00,2005-01-15 23:02:00,2005-01-15 23:31:00
28,29,X3.8,720,2005-01-17 06:59:00,2005-01-17 09:52:00,2005-01-17 10:07:00
11,12,X7.1,720,2005-01-20 06:36:00,2005-01-20 07:01:00,2005-01-20 07:26:00
3,4,X17+,808,2005-09-07 17:17:00,2005-09-07 17:40:00,2005-09-07 18:03:00
19,20,X5.4,808,2005-09-08 20:52:00,2005-09-08 21:06:00,2005-09-08 21:17:00
30,31,X3.6,808,2005-09-09 09:42:00,2005-09-09 09:59:00,2005-09-09 10:08:00
14,15,X6.2,808,2005-09-09 19:13:00,2005-09-09 20:04:00,2005-09-09 20:36:00
8,9,X9,930,2006-12-05 10:18:00,2006-12-05 10:35:00,2006-12-05 10:45:00
13,14,X6.5,930,2006-12-06 18:29:00,2006-12-06 18:47:00,2006-12-06 19:00:00
33,34,X3.4,930,2006-12-13 02:14:00,2006-12-13 02:40:00,2006-12-13 02:57:00
12,13,X6.9,1263,2011-08-09 07:48:00,2011-08-09 08:05:00,2011-08-09 08:08:00
18,19,X5.4,1429,2012-03-07 00:02:00,2012-03-07 00:24:00,2012-03-07 00:40:00
42,43,X2.8,1748,2013-05-13 15:48:00,2013-05-13 16:05:00,2013-05-13 16:16:00
38,39,X3.2,1748,2013-05-14 00:00:00,2013-05-14 01:11:00,2013-05-14 01:20:00
35,36,X3.3,1890,2013-11-05 22:07:00,2013-11-05 22:12:00,2013-11-05 22:15:00
22,23,X4.9,1990,2014-02-25 00:39:00,2014-02-25 00:49:00,2014-02-25 01:03:00
39,40,X3.1,2192,2014-10-24 21:07:00,2014-10-24 21:41:00,2014-10-24 22:13:00
45,46,X2.7,2339,2015-05-05 22:05:00,2015-05-05 22:11:00,2015-05-05 22:15:00
7,8,X9.3,2673,2017-09-06 11:53:00,2017-09-06 12:02:00,2017-09-06 12:10:00
10,11,X8.2,2673,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00

In [18]:
min_difference = datetime.timedelta(days=10000); min_difference

datetime.timedelta(days=10000)

In [32]:
closest_events = []
length = len(data)
min_difference = datetime.timedelta(days=10000)

for i in range(1 ,length):
    #print(data.iloc[i]['Rank'])
    difference = data.iloc[i]['Start_time'] - data.iloc[i-1]['Start_time']
    if  difference < min_difference:
        min_difference = difference
        closest_events = [data.iloc[i]['Start_time'], data.iloc[i-1]['Start_time']]

print(min_difference)
closest_events

0 days 08:06:00

[Timestamp('2003-11-03 01:09:00'), Timestamp('2003-11-02 17:03:00')]

In [24]:
len(data)

50

In [77]:
from transform import closest_events
min_diff, closest_events = closest_events()

In [78]:
min_diff

Timedelta('0 days 08:06:00')

In [80]:
for i in closest_events:
    print(i)
    print('i'*9)

Rank                           47
X_class                      X2.7
Region                        488
Start_time    2003-11-03 01:09:00
Max_time      2003-11-03 01:30:00
End_time      2003-11-03 01:45:00
Duration          0 days 00:36:00
Name: 46, dtype: object
iiiiiiiii
Rank                           10
X_class                      X8.3
Region                        486
Start_time    2003-11-02 17:03:00
Max_time      2003-11-02 17:25:00
End_time      2003-11-02 17:39:00
Duration          0 days 00:36:00
Name: 9, dtype: object
iiiiiiiii

# MergeSort

In [60]:
def partition(arr,low,high): 
    i = ( low-1 )         # index of smaller element 
    pivot = arr[high]     # pivot 
  
    for j in range(low , high): 
  
        # If current element is smaller than or 
        # equal to pivot 
        if   arr[j] <= pivot: 
          
            # increment index of smaller element 
            i = i+1 
            arr[i],arr[j] = arr[j],arr[i] 
  
    arr[i+1],arr[high] = arr[high],arr[i+1] 
    return ( i+1 ) 
  
# The main function that implements QuickSort 
# arr[] --> Array to be sorted, 
# low  --> Starting index, 
# high  --> Ending index 
  
# Function to do Quick sort 
def quickSort(arr,low,high): 
    if low < high: 
  
        # pi is partitioning index, arr[p] is now 
        # at right place 
        pi = partition(arr,low,high) 
  
        # Separately sort elements before 
        # partition and after partition 
        quickSort(arr, low, pi-1) 
        quickSort(arr, pi+1, high) 
  
# Driver code to test above 
#arr = [10, 7, 8, 9, 1, 5] 
arr = list(data.Start_time)
n = len(arr) 
quickSort(arr,0,n-1) 
print ("Sorted array is:") 
for i in range(n): 
    print (arr[i]),

Sorted array is:
1997-11-06 11:49:00
1998-05-06 07:58:00
1998-08-18 08:14:00
1998-08-18 22:10:00
1998-08-19 21:35:00
1998-11-22 06:30:00
1998-11-28 04:54:00
2000-07-14 10:03:00
2000-11-26 16:34:00
2001-04-02 21:32:00
2001-04-06 19:10:00
2001-04-15 13:19:00
2001-08-25 16:23:00
2001-09-24 09:32:00
2001-12-11 07:58:00
2001-12-13 14:20:00
2001-12-28 20:02:00
2002-07-15 19:59:00
2002-07-20 21:04:00
2002-07-23 00:18:00
2002-08-24 00:49:00
2003-05-28 00:17:00
2003-10-23 08:19:00
2003-10-28 09:51:00
2003-10-29 20:37:00
2003-11-02 17:03:00
2003-11-03 01:09:00
2003-11-03 09:43:00
2003-11-04 19:29:00
2004-07-16 13:49:00
2005-01-15 22:25:00
2005-01-17 06:59:00
2005-01-20 06:36:00
2005-09-07 17:17:00
2005-09-08 20:52:00
2005-09-09 09:42:00
2005-09-09 19:13:00
2006-12-05 10:18:00
2006-12-06 18:29:00
2006-12-13 02:14:00
2011-08-09 07:48:00
2012-03-07 00:02:00
2013-05-13 15:48:00
2013-05-14 00:00:00
2013-11-05 22:07:00
2014-02-25 00:39:00
2014-10-24 21:07:00
2015-05-05 22:05:00
2017-09-06 11:53:00
2017-09-10 15:35:00

In [61]:
arr = list(data.Start_time)

In [64]:
arr[i].date()

datetime.date(2017, 9, 10)

In [51]:
data[data.Start_time == arr[i]]

,Rank,X_class,Region,Start_time,Max_time,End_time
10,11,X8.2,2673,2017-09-10 15:35:00,2017-09-10 16:06:00,2017-09-10 16:31:00